        #main {
        }
 
        body {
          padding: 0px;
          margin: 0px;
          font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
          background-color: rgb(255, 185, 100);
        }

        .container {
          display: block;
          background-color: rgb(255, 185, 100);
          width: 100%;
          height: 100%;
        }

        .list {
          margin: 5px;
          border: 1px solid rgb(204, 204, 204);
          border-radius: 3px;
          display: inline-block;
          white-space: normal;
          width: 250px;
          max-height: 100%;
          vertical-align: top;
          padding: 4px 4px 0px;
          background-color: rgb(226, 228, 230);
          float: left;
        }
       
        .list-header {
          padding: 8px 4px;
          position: relative;
          min-height: 19px;
          display: block;
          line-height: 18px;
          text-align: left;
        }
       
        .card-list {
          position: block;
          overflow-x: hidden;
          height: auto;
          width: 100%
        }
 
        .card {
          padding: 6px 8px 4px;
          margin-bottom: 4px;
          position: relative;
          display: block;
          cursor: pointer;
          color: rgb(77, 77, 77);
          font-size: 14px;
          line-height: 18px;
          border: 1px solid rgb(204, 204, 204);
          border-radius: 4px;
          width: 240px;
          text-align: left;
          background-color: rgb(255, 255, 255);
        }

        .card-title {
          color: rgb(77, 77, 77);
          clear: both;
          display: block;
          font-weight: 400;
          margin: 0px 0px 4px;
          overflow: hidden;
          text-decoration: none;
          word-wrap: break-word;
          background-color: transparent;
        }

        .list-title {
          cursor: pointer;
          display: inline;
          font-size: 15px;
          font-weight: bold;
          line-height: 18px;
          margin: 0px;
          min-height: 19px;
          min-width: 30px;
          text-overflow: ellipsis;
          word-wrap: break-word;
          position: relative;
          color: rgb(77, 77, 77);
        }